body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body
{
	background:
     url(header.jpg)    /* image */
     top center /* position / size */
     no-repeat                /* repeat */
     fixed                    /* attachment */
     padding-box              /* origin */
     content-box              /* clip */
     red;  
     flex:auto;   

}

h1
{
	margin: auto;
	text-align: center;
	flex:auto;
	color:gray;

}

.btn
{
	border-radius: 3rem;
    flex:auto;
}


.container
{
	align-items: center;
	margin-top: 390px;
}